html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

body {
    font-family: 'Signika', sans-serif;
    background-color: #efeeee;
}

/* Header: Estilo para la cabecera */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #f4f4f4;
    position: relative;
}

.logo {
    border-radius: 50%;
    width: 70px;
    height: 50px;
}


/* Contenedor para el logo */
.logo-container {
    position: absolute;
    left: 20px;
}

/* Logo */
.logo {
    height: 50px;
}

/* Contenedor del título */
.title-container {
    flex-grow: 1;
    text-align: center;
}

/* Estilo para el título */
header h1 {
    font-size: 2.5rem;
    margin: 0;
}

/* Estilo para el nav */
nav {
    width: 100%; 
    background-color: #0a9159;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
}

nav ul li a:hover {
    color: #007BFF;
}


/* Estilo para la sección de inicio */
 #inicio {
    position: relative;
    width: 100%;
    height: 750px;
    background-image: url('img/inicio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    color: white;
}

/* Contenedor de texto encima de la imagen */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Estilo para el título */
#inicio h2 {
    font-size: 6rem;
    margin: 0;
    padding: 0;
}

/* Estilo para el párrafo */
#inicio p {
    font-size: 1.5rem;
    margin-top: 10px;
}

#informacion h2 {
    text-align: center;
    margin-bottom: 20px;
}

#informacion p {
    text-align: justify;
    margin: 0 auto;
    width: 80%;
    line-height: 1.8;
}

/* Estilo para la sección de ejercicios */
#ejercicios {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Estilo para centrar el h3 */
#ejercicios h3 {
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor que organiza los párrafos en dos columnas */
.stretching-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Listas en columnas */
.left-column, .right-column {
    list-style-type: disc;
    padding-left: 20px;
}

/* Ajustes de texto */
.left-column li, .right-column li {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: left;
}
/* Estilo para el párrafo fuera de las columnas (último párrafo) */
#ejercicios p:last-of-type {
    text-align: center;
}

/* Estilo para las imágenes en la galería */
.image-gallery {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.image-gallery img {
    width: 16%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9); 
    object-fit: cover;
}

/* Estilo general para las secciones */
section {
    padding: 20px;
    margin-bottom: 40px;
    background-color: #f4f4f4;
}

#rutas h2{
    text-align: center
}


/* Contenedor general para las rutas */
.rutas-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

/* Estilo para cada item de ruta */
.rutas-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
}

/* Imagen dentro de cada item */
.rutas-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    max-height: 200px;
}

/* Título dentro de cada item */
.rutas-item h3 {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Descripción debajo de la imagen */
.rutas-item p {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
    flex-grow: 1;
}

#contacto {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
    margin: 40px auto;
    max-width: 600px;
}

#contacto h2 {
    margin-bottom: 20px;
}

#contacto p {
    margin-bottom: 20px;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px 15px;
    background-color: #0a9159;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #06673f;
}

/* Estilo para el footer */
footer {
    background-color: #0a9159;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilo para las columnas del footer */
.footer-columns {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: left;
}

/* Estilo para cada columna */
.footer-column {
    width: 20%; /* Ocupa 20% del espacio disponible */
}

/* Estilo para los encabezados de las columnas */
.footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Estilo para las listas de enlaces */
.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilo para los enlaces en las listas */
.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    transition: color 0.3s ease;
}

/* Estilo cuando el ratón pasa sobre el enlace */
.footer-column ul li a:hover {
    color: #007BFF;
}

/* Estilo para los iconos de redes sociales */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons li {
    list-style: none;
}

.social-icons a img {
    width: 34px;
    height: 34px;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header .title-container h1 {
        font-size: 22px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    #inicio h1 {
        font-size: 30px;
    }

    #inicio h2 {
        font-size: 3rem;
        margin: 0;
        padding: 0;
    }

    #ejercicios {
        grid-template-columns: 1fr;
    }

    #rutas {
        grid-template-columns: 1fr 1fr;
    }

    .rutas-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .stretching-container {
        grid-template-columns: 1fr;
    }
    .image-gallery img {
        width: 100%;
    }

    .footer-column h3 {
        font-size: 1rem;
    }

    .footer-column ul li {
        font-size: 0.9rem;
    }

    .social-icons a img {
        width: 30px;
        height: 30px;
    }
}

/* Para dispositivos de tamaño mediano (tabletas) */
@media (max-width: 1024px) {
    #inicio h1 {
        font-size: 40px;
    }

    #inicio h2 {
        font-size: 3rem;
        margin: 0;
        padding: 0;
    }

    #ejercicios {
        grid-template-columns: repeat(2, 1fr);
    }

    #rutas {
        grid-template-columns: repeat(2, 1fr);
    }

    #contacto input, #contacto textarea {
        padding: 12px;
    }

    .footer-columns {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .social-icons {
        flex-direction: row;
        gap: 10px;
    }
}